*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg-color);
    line-height: var(--line-height);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}